.navbar .btn-outline-light:hover{
  color: #060606;
}

.header{
  background: url(../images/yaroslav-romanenko-7YkwadIk2v8-unsplash.jpg) center center no-repeat;
  background-size: cover;
}

.navbar-hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.unclickable-element.inside-clickable {
  pointer-events: none; 
}

